{% extends "layout.html" %}{% import 'bootstrap/wtf.html' as wtf%} {% import 'macros.html' as macros %}

{% block content %}
<div id="leftbox">
    <div class="row">
        <div class="col-4" id="left-filter">
            <div id="filter-title"><h4 class="title">Filtro</h4></div>
            
            <ul class="navbar-nav mr-auto"style="margin-left:10px;">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('mybooks')}}">
                        Registrados <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('requested_books')}}">Solicitados</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="middlebox">
    <div class="container" style="padding-top:10px">
        <h2 class="title">{{title}}</h2>
    </div>
    <div class="container" id="search-box">

        
        <!-- Search form -->
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" action="#" onsubmit="handle" method="post">
            {{forms['search_box_form'].hidden_tag() }}
            {{forms['search_box_form'].search(class='form-control form-control-underlined',**{'placeholder':'Busqueda'})}}
            <div class="nav-states">
                <ul>
                    <li><a href="#" onclick="filterCards(1)">Disponibles</a></li>
                    <li><a href="#" onclick="filterCards(2)">Solicitados</a></li>
                    <li><a href="#" onclick="filterCards(3)">Prestados</a></li>
                    <li><a href="#" onclick="filterCards(4)">Todos</a></li>
                    
                </ul>
            </div>
        </form>


    </div>
    {{ macros.render_books(books,get_request,constants,my_books,requested_books,forms,get_lang,get_genre,get_rating) }}
</div>


{% endblock %}