<div style="text-align:center;background-color:#eee;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);border-radius: 5px;">
    <img src="https://i.ibb.co/g3Hgn2W/bookchain.png" style="display: inline-block;margin-top:15px;vertical-align:sub;" width="50px">
    <h1 style="font-family: 'Roboto', sans-serif;padding-left:15px;display: inline-block;">BookChain</h1>
</div>
<div style="text-align:center;">
    <h1 style="font-family: 'Roboto', sans-serif;font-weight: lighter;">¡Tienes una nueva solicitud !</h1>
</div>
<div style="text-align:center;">
    <h3 style="font-family: 'Roboto', sans-serif;font-weight: lighter;">Has recibido una solicitud , ve a la plataforma para ver mas detalles.</h3>
    <button href="http://localhost:5555/" type="button" style="background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;">
        Ir a la plataforma
    </button>
    <h4 style="font-family: 'Roboto', sans-serif;font-weight: lighter;">Muchas Gracias !</h4>
</div>
<br />
<br />
<div style="text-align:center;height:50px;width: 50%;
  margin: 0 auto;">
    <a href="#" style="font-family:'Arial';">Unsuscribe</a>
</div>