{% extends 'bootstrap/base.html' %}
{%- block head %}
{{super()}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>
    {% block title %}BookChain{%
    endblock title %}
</title>
<link rel="stylesheet"
      href="{{ url_for('static',filename='content/mystyles.css')}}" />
{%- endblock head %}
<body {% block body_attribs %} class="text-center" {% endblock body_attribs %}>
    {% block body %} {% block navbar %} {% include 'navbar.html' %}{%-
    endblock navbar %}
    {% block content -%} {%- endblock content %}

    {% endblock
    body %}

    <footer>
         {% include 'footer.html' %}
    </footer>
</body>


