{% import 'bootstrap/wtf.html' as wtf%}{% macro render_books(books,get_request,constants,my_books,requested_books,forms,get_lang,get_genre,get_rating) %}
<div class="container" >
    <!--<div class="card-columns">-->
    <div class="row">
        {%for book in books%}
        <div class="col-sm-4">
            {% if book.to_dict()['state'].id==constants.STATE_AVAILABLE %}
            <div class="card border-success mb-3" id="{{book.id}}" name="available-card" style="border-bottom: 6px solid #28a745!important">
                {% elif book.to_dict()['state'].id==constants.STATE_REQUESTED %}
                <div class="card border-warning mb-3" id="{{book.id}}" name="requested-card"style="border-bottom: 6px solid #ffc107!important">
                    {% else %}
                    <div class="card border-primary mb-3" id="{{book.id}}" name="loaned-card" style="border-bottom: 6px solid #007bff!important">
                        {% endif %}
                        <!--<img class="card-img-top" src="{{url_for('static',filename='images/book-vector.jpg')}}" alt="Card image cap">-->
                        <img class="card-img-top" src="{{book.to_dict()['image_url']}}" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">{{book.to_dict()['name']}}</h5>
                            <p class="card-text">{{book.to_dict()['description']}}</p>
                            <!--<a href="" class="btn btn-outline-info">Detalles</a>-->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detailsModal{{book.id}}">
                                Detalles
                            </button>


                            {% if (book.to_dict()['state'].id==constants.STATE_AVAILABLE and my_books==False and requested_books==False)%}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#requestModal{{book.id}}">
                                Solicitar
                            </button>


                            <!--<a href="" class="btn btn-outline-info">Solicitar</a>-->
                            {% elif book.to_dict()['state'].id==constants.STATE_REQUESTED and requested_books==False %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#seerequestModal{{book.id}}">
                                Ver Solicitud
                            </button>


                            <!--<a href="" class="btn btn-outline-info">Ver Solicitud</a>-->
                            {% elif requested_books==True and book.to_dict()['state'].id==constants.STATE_LOANED %}
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#givebackModal{{book.id}}">
                                Devolver
                            </button>
                            {% elif requested_books==False and book.to_dict()['state'].id==constants.STATE_WAITING_CONFIRM_RETURN%}
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmbackModal{{book.id}}">
                                Confirmar Devolucion
                            </button>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <!-- Modal Details -->
                <div class="modal fade" id="detailsModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            <div class="modal-content">



                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{book.to_dict()['name']}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Descripcion</label>
                                    <br />
                                    <label style="color:grey">{{book.to_dict()['description']}}</label>
                                    <br />
                                    <label>Paginas</label>
                                    <br />
                                    <label style="color:grey">{{book.to_dict()['page_count']}}</label>
                                    <br />
                                    <label>Autor</label>
                                    <br />
                                    <label style="color:grey">{{book.to_dict()['author']}}</label>
                                    <br />
                                    <label>Genero</label>
                                    <br />
                                    <label style="color:grey">{{get_genre(book.to_dict()['genre'])}}</label>
                                    <br />
                                    <label>Idioma</label>
                                    <br />
                                    <label style="color:grey">{{get_lang(book.to_dict()['lang'])}}</label>

                                </div>


                            </div>
                        </form>
                    </div>
                </div>
                {% if (book.to_dict()['state'].id==constants.STATE_AVAILABLE and my_books==False and requested_books==False)%}

                <!-- Modal Request -->
                <div class="modal fade" id="requestModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            <div class="modal-content">

                                {{ forms['request_form'].hidden_tag() }}

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Solicitar prestamo de Libro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{forms['request_form'].book(**{'id':'book','type':'hidden','value':book.id})}}
                                    <label>Cantidad de dias</label>
                                    {{forms['request_form'].days(class='form-control',**{'placeholder':'Cantidad de dias','id':'days'})}}
                                    <label>Comentario</label>
                                    {{forms['request_form'].comment(class='form-control',**{'placeholder':'Comenterio','id':'comment'})}}

                                    <!--<input type="hidden" value="foo" name="user_id" />-->

                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                    <!--<button type="button" class="btn btn-primary">Enviar Solicitud</button>-->
                                    {{forms['request_form'].submit(class='btn btn-primary')}}
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!--<a href="" class="btn btn-outline-info">Solicitar</a>-->
                {% elif book.to_dict()['state'].id==constants.STATE_REQUESTED and requested_books==False %}

                <!-- Modal See request -->
                <div class="modal fade" id="seerequestModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="seerequestModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            {{ forms['evaluate_request_form'].hidden_tag() }}

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% set x = get_request(book.id) %}
                                    <label>Cantidad de dias</label>
                                    <br />
                                    <label style="color: grey">{{x.days}}</label>
                                    <br />
                                    <label>Comentario Solicitante</label>
                                    <br />
                                    <label style="color: grey">{{x.comment}}</label>
                                    <br />

                                    {{forms['evaluate_request_form'].book(**{'id':'book','type':'hidden','value':book.id})}}

                                    {{forms['evaluate_request_form'].request_id(**{'id':'request_id','type':'hidden','value':x.id})}}
                                    {% if x.send_email==False%}

                                    {{forms['evaluate_request_form'].owner_comment(class='form-control',**{'placeholder':'Comentario','id':'owner_comment'})}}

                                    {%else%}
                                    {{forms['evaluate_request_form'].owner_comment(class='form-control',readonly='readonly',**{'type':'hidden','id':'owner_comment'})}}
                                    <script>document.getElementById('owner_comment').value = `{{x.owner_comment}}`; </script>




                                    {% endif %}
                                    <hr />

                                    <label>Datos del solicitante :</label>
                                    <br />
                                    <label style="color: grey">{{x.user.to_dict()['name']}} {{x.user.to_dict()['last_name']}}</label>
                                    <br />
                                    <label>Numero de contacto :</label>
                                    <br />
                                    <label style="color: grey">{{x.user.to_dict()['contact']}}</label>
                                    <br />
                                    <label>Mail :</label>
                                    <br />
                                    <label style="color: grey">{{x.user.id}}</label>
                                    <br />
                                    <label>Calificacion :</label>
                                    <br />
                                    {% set rating = get_rating(x.user.id) %}
                                    <label style="color: grey">{{rating}}</label>


                                </div>
                                <div class="modal-footer">

                                    {{forms['evaluate_request_form'].denegated(class='btn btn-secondary')}}
                                    {% if x.send_email==False%}

                                    {{forms['evaluate_request_form'].approved(class='btn btn-primary')}}
                                    {%else%}
                                    {{forms['evaluate_request_form'].delivered(class='btn btn-primary')}}

                                    {% endif%}


                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Aprobar</button>-->
                                    <!--<button type="button" class="btn btn-primary">Denegar</button>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--<a href="" class="btn btn-outline-info">Ver Solicitud</a>-->
                {% elif requested_books==True and book.to_dict()['state'].id==constants.STATE_LOANED %}
                <!-- Modal giveback -->
                <div class="modal fade" id="givebackModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            {{ forms['return_form'].hidden_tag() }}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">&#191; Estas seguro que deseas devolver el libro {{book.to_dict()['name']}} &#63;</h5>
                                    
                                 
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{forms['return_form'].book(**{'id':'book','type':'hidden','value':book.id})}}
                                    <!--<input type="hidden" value="foo" name="user_id" />-->

                                </div>
                                <div class="modal-footer">

                                    <!--{{forms['return_form'].denegated(class='btn btn-secondary')}}-->
                                    {{forms['return_form'].giveback(class='btn btn-primary')}}
                                  

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                {% elif my_books==True and book.to_dict()['state'].id==constants.STATE_WAITING_CONFIRM_RETURN%}
                <!-- Modal confirmback -->
                <div class="modal fade" id="confirmbackModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            {{ forms['return_form'].hidden_tag() }}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">&#191; Confirmas la devolucion del libro {{book.to_dict()['name']}} &#63;</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{forms['return_form'].book(**{'id':'book','type':'hidden','value':book.id})}}
                                    <label>Calificacion del usuario :</label>
                                    <br />
                                    <div class="rating" data-vote="0">
                                        <div class="div-star">
                                            <div class="star">

                                                <span class="full" data-value="1"></span>
                                                <span class="half" data-value="0.5"></span>
                                                <span class="selected"></span>

                                            </div>

                                            <div class="star">

                                                <span class="full" data-value="2"></span>
                                                <span class="half" data-value="1.5"></span>
                                                <span class="selected"></span>

                                            </div>

                                            <div class="star">

                                                <span class="full" data-value="3"></span>
                                                <span class="half" data-value="2.5"></span>
                                                <span class="selected"></span>

                                            </div>

                                            <div class="star">

                                                <span class="full" data-value="4"></span>
                                                <span class="half" data-value="3.5"></span>
                                                <span class="selected"></span>

                                            </div>

                                            <div class="star">

                                                <span class="full" data-value="5"></span>
                                                <span class="half" data-value="4.5"></span>
                                                <span class="selected"></span>

                                            </div>
                                        </div>
                                        <div class="score">
                                            <span class="score-rating js-score">0</span>
                                            <span>/</span>
                                            <span class="total">5</span>
                                            {% set x = get_request(book.id) %}
                                            {{forms['return_form'].user(**{'type':'hidden','value':x.user.id})}}
                                            {{forms['return_form'].rating(class='score-rating js-scorehidden',**{'type':'hidden'})}}
                                        </div>
                                    </div>
                                    <!--<input type="hidden" value="foo" name="user_id" />-->

                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                    <!--<button type="button" class="btn btn-primary">Enviar Solicitud</button>-->
                                    {{forms['return_form'].return_approved(class='btn btn-primary')}}
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}



                {%endfor%}
            </div>
        </div>

        {% endmacro %}
