{% import 'bootstrap/wtf.html' as wtf%}{% macro render_books(books,get_request,constants,my_books,requested_books,request_form,get_lang,get_genre) %}
<div class="container" style="width:90%" >
    <!--<div class="card-columns">-->
    <div class="row">
        {%for book in books%}
        <div class="col-sm-4">
            {% if book.to_dict()['state'].id==constants.STATE_AVAILABLE %}
            <div class="card border-success mb-3" id="{{book.id}}" style="border-bottom: 4px solid #28a745!important">
                {% elif book.to_dict()['state'].id==constants.STATE_REQUESTED %}
                <div class="card border-warning mb-3" id="{{book.id}}" style="border-bottom: 4px solid #ffc107!important">
                    {% else %}
                    <div class="card border-primary mb-3" id="{{book.id}}" style="border-bottom: 4px solid #007bff!important">
                        {% endif %}
                        <!--<img class="card-img-top" src="{{url_for('static',filename='images/book-vector.jpg')}}" alt="Card image cap">-->
                        <img class="card-img-top" src="{{book.to_dict()['image_url']}}" alt="Card image cap" width="245px" height="340px">

                        <div class="card-body">
                            <h5 class="card-title">{{book.to_dict()['name']}}</h5>
                            <p class="card-text">{{book.to_dict()['description']}}</p>
                            <!--<a href="" class="btn btn-outline-info">Detalles</a>-->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detailsModal{{book.id}}">
                                Detalles
                            </button>


                            {% if (book.to_dict()['state'].id==constants.STATE_AVAILABLE and my_books==False and requested_books==False)%}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#requestModal{{book.id}}">
                                Solicitar
                            </button>


                            <!--<a href="" class="btn btn-outline-info">Solicitar</a>-->
                            {% elif book.to_dict()['state'].id==constants.STATE_REQUESTED and requested_books==False %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#seerequestModal{{book.id}}">
                                Ver Solicitud
                            </button>


                            <!--<a href="" class="btn btn-outline-info">Ver Solicitud</a>-->
                            {% elif requested_books==True and book.to_dict()['state'].id!=constants.STATE_REQUESTED %}
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#givebackModal{{book.id}}">
                                Devolver
                            </button>

                            {% endif %}
                        </div>

                    </div>
                </div>
                <!-- Modal Details -->
                <div class="modal fade" id="detailsModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            <div class="modal-content">



                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{book.to_dict()['name']}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Descripcion</label>
                                    <br />
                                    <label style="color:grey">{{book.to_dict()['description']}}</label>
                                    <br />
                                    <label>Paginas</label>
                                    <br />
                                    <label style="color:grey">{{book.to_dict()['page_count']}}</label>
                                    <br />
                                    <label>Autor</label>
                                    <br />
                                    <label style="color:grey">{{book.to_dict()['author']}}</label>
                                    <br />
                                    <label>Genero</label>
                                    <br />
                                    <label style="color:grey">{{get_genre(book.to_dict()['genre'])}}</label>
                                    <br />
                                    <label>Idioma</label>
                                    <br />
                                    <label style="color:grey">{{get_lang(book.to_dict()['lang'])}}</label>

                                </div>


                            </div>
                        </form>
                    </div>
                </div>
                {% if (book.to_dict()['state'].id==constants.STATE_AVAILABLE and my_books==False and requested_books==False)%}
                <!-- Button trigger modal -->
                <!-- Modal Request -->
                <div class="modal fade" id="requestModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            <div class="modal-content">

                                {{ request_form.hidden_tag() }}

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Solicitar prestamo de Libro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{request_form.book(**{'id':'book','type':'hidden','value':book.id})}}
                                    <label>Cantidad de dias</label>
                                    {{request_form.days(class='form-control',**{'placeholder':'Cantidad de dias','id':'days'})}}
                                    <label>Comentario</label>
                                    {{request_form.comment(class='form-control',**{'placeholder':'Comenterio','id':'comment'})}}

                                    <!--<input type="hidden" value="foo" name="user_id" />-->

                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                    <!--<button type="button" class="btn btn-primary">Enviar Solicitud</button>-->
                                    {{request_form.submit(class='btn btn-primary')}}
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!--<a href="" class="btn btn-outline-info">Solicitar</a>-->
                {% elif book.to_dict()['state'].id==constants.STATE_REQUESTED and requested_books==False %}
                <!-- Button trigger modal -->
                <!-- Modal See request -->
                <div class="modal fade" id="seerequestModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="seerequestModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            {{ request_form.hidden_tag() }}

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% set x = get_request(book.id) %}
                                    <label>Cantidad de dias</label>
                                    <label style="color: grey">{{x.comment}}</label>
                                    <br />
                                    <label>Comentario Solicitante</label>
                                    <br />
                                    <label style="color: grey">{{x.comment}}</label>
                                    {{request_form.book(**{'id':'book','type':'hidden','value':book.id})}}
                                    {{request_form.owner_comment(class='form-control',**{'placeholder':'Comentario','id':'comment'})}}
                                </div>
                                <div class="modal-footer">

                                    {{request_form.denegated(class='btn btn-secondary')}}
                                    {{request_form.approved(class='btn btn-primary')}}

                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Aprobar</button>-->
                                    <!--<button type="button" class="btn btn-primary">Denegar</button>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--<a href="" class="btn btn-outline-info">Ver Solicitud</a>-->
                {% elif requested_books==True and book.to_dict()['state'].id!=constants.STATE_REQUESTED %}
                <!-- Modal giveback -->
                <div class="modal fade" id="givebackModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form method="post" action="" class="form-signin">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">&#191; Estas seguro que deseas devolver el libro {{book.to_dict()['name']}} &#63;</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--<input type="hidden" value="foo" name="user_id" />-->

                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                    <!--<button type="button" class="btn btn-primary">Enviar Solicitud</button>-->

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}



                {%endfor%}
            </div>
        </div>

        {% endmacro %}
