<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="#">Book Chain</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExample09"
            aria-controls="navbarsExample09"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">
                    Inicio <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('newbook')}}">Registrar Libro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis Libros</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control"
                   type="text"
                   placeholder="Buscar"
                   aria-label="Search" />
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
            <a class="nav-link" href="#">Mi Perfil</a>
        </form>
    </div>
</nav>
