html,
body {
	height: 100%;
	width: 100%;
}
body {
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.title {
	font-family :'Segoe UI'
}
#search-box.container {
	width: 50%;
	padding-bottom : 10px;
	padding-top: 10px;
}
.card-body {
	border-top: 1px solid;
	border-top-color: darkgrey;
}
.card {
	border:2px solid rgba(0,0,0,.125);
}
.navbar {
	border-bottom: 1px solid #0062cc3d;
}
.nav-states ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.nav-states ul li::before {
	content: "\2022";
	font-weight: bold;
	color:#007bff!important;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	font-size:x-large;
}
.nav-states ul li:nth-child(1):before {
	color: #28a745!important;
}

.nav-states ul li:nth-child(2):before {
	color: #ffc107!important;
}

.nav-states ul li:nth-child(3):before {
	color: #007bff!important;
}
#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}
.nav-states li {
	float: left;
	text-align: center;
	padding: 16px;
}
#middlebox {
	float: left;
	/*background: Green*/;
	width: 62%;
	/*height: 280px;*/
}
#leftbox {
	float: left;
	/*background: Red*/;
	width: 19%;
	/*height: 280px;*/
}
#footer {
	clear: both;
	position: relative;
	height: 100px;
	margin-top: -200px;
}
#left-filter {
	padding-top: 22%;
	padding-left: 12%;
}
#filter-title {
	border-left: 4px solid #0062cc3d;
}
#filter-title h4{
	margin-left : 2px;
}